* {
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

.logo {
  height: 2rem;
}

.title {
  font-weight: 600;
  font-size: 1.44rem;
  text-decoration: none;
  color: #000;
}
.header {
  padding: 32px;
  display: flex;
}